* {
    margin: 0px;
    padding: 0px;
}

#timer {
    position: fixed;
    top: 450px;
    left: 350px;
    width: 100px;
    height: 110px;
    z-index: 2;
}

#timer #timer_flexbox {
    width: 100px;
    background: no-repeat center ;
    background-image: url(./src/assets/day.svg);
}

#timer .hex {
    position: fixed;
    stroke: #A9A9A9;
    stroke-width: 7px;
    fill: transparent;
}

#timer #hex_board {
    position: fixed;
    stroke-width: 7px;
    stroke-linecap: round;
    fill: transparent;
    transition: all linear 0.7s;
}

#app {
    position: relative;
    z-index: 1;
}